{{#if this.args.quantity}}
    <div class="bg-violet-50 text-violet-500 font-bold rounded flex justify-between items-center">
        {{#if this.isTrashIconShown}}
            <button
                class="px-3 rounded"
                type="button"
                {{on "click" this.deleteFromCart}}
            >
                <span>
                <img src="/icons/trash.png" alt="-">
                </span>
            </button>
        {{else}}
            <button
                class="hover:bg-violet-500 hover:text-white px-3 rounded"
                type="button"
                {{on "click" this.deleteFromCart}}
                >
                <span>-</span>
            </button>
        {{/if}}
        <span class="my-2 px-1">{{this.args.quantity}}</span>
        <button
            class="hover:bg-violet-500 hover:text-white px-3 rounded"
            type="button"
            {{on "click" this.addToCart}}
            >
            <span>+</span>
        </button>
    </div>
{{else}}
    <button
        type="button"
        class="bg-violet-50 hover:bg-violet-500 hover:text-white text-violet-500 font-bold p-2 rounded transition"
        {{on "click" this.addToCart}}
    >
        Add to cart
    </button>
{{/if}}
