<div class="max-w-xs my-4 mx-auto rounded-lg relative overflow-hidden">
  <div class="absolute top-2 right-2">
    <PromoBadge @discountDescription={{this.discountDescription}} />
  </div>
  <img src={{this.productImage}} alt={{@product.name}} class="w-full">
  <div class="flex border border-gray-100 py-8 px-4 -translate-y-2 border-t-0">
    <div class="w-2/4">
      <p class="text-xl leading-7 font-bold block text-gray-800 mb-4">{{@product.name}}</p>
      <p class="text-base leading-6 font-normal block text-gray-800">£{{@product.price}}</p>
    </div>
    <div class="flex justify-end items-end w-2/4">
        <AddBtn
          @product={{@product}}
          @discountDescription={{this.discountDescription}}
          @image={{this.productImage}}
          {{!-- @deleteFromCart={{this.deleteFromCart}}
          @addToCart={{this.addToCart}}
          @isconIsShown={{this.isconIsShown}} --}}
        />
    </div>
  </div>
</div>
